
<div class="container">
    <img class="circle" src="{{image}}" alt="{{first_name}} + {{last_name}}" />
    <h2>{{first_name}} {{last_name}}</h2>

<a href="./writepost" class="waves-effect waves-light btn">Write a post</a>
<br>
{{#each profile}}

<a href="/profile/{{id}}">{{title}}</a>
<h6>{{body}}</h6>
<!-- <h6>{{created_at}}</h6> -->
{{/each}}

</div>
